/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

/* Style is below */

body {
   background-color: #2a9d8f;
   font-family: 'Inter', sans-serif;
 
}

p {
    padding-left: 1rem;
}

h2 {
    padding-left: 1rem;
}

h3 {
    padding-left: 1rem;
}

/* Columns showing my skills */

.tech {
    display: inline-block;
    width: 100%;
}

.column {
    background-color: aqua;
    width: 30%;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    position: sticky;
    transition: all 0.2s ease;

}

.column:hover {
    background-color: lightskyblue;
}


/* 
.column {
    float: left;
    background-color: rgb(61, 216, 206);
    width: 20%;
    border-radius: 15px;
    display: auto;
    width: 300px;
    padding: 10px;
    margin: 10px;


}

.column {
    float: left;
    background-color: rgb(123, 118, 224);
    width: 20%;
    border-radius: 15px;
    display: auto;
    width: 300px;
    padding: 10px;
    margin: 10px;


}
  */

.html , .css , .git {
    font-weight: bold;
}  

button {
    display: inline-block;
}

.btn {
    width: 60%;
    transition: all ease !important;
    transition-duration: 5s !important;
    background-color: green !important;
    height: 50px;
}

.btn:hover {
    background-color: red !important;
    width: 80%;
}

.introduction {
    text-align: center;
    padding: 3rem;
}

.form {
    text-align: center;
    width: 40%;
}

.regoform {
    text-align: left;
    padding-left: 1rem;
}

.regoformSubmit {
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 3rem;
    padding-top: 0.5rem;
}

#fname,#lname,#email,#mobile {
    display: inline-block;
}

.resumeButton {
    text-align: center;
    padding: 3rem;
}